@import 'styles/constants.scss';

.custom-input {
  display: flex;
  overflow: hidden;

  input {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    height: $size-xl;
    border-radius: $border-radius-sm;
    padding-left: $size-sm;
    background-color: $input-background;
    outline: none;
    border: 0;
    color: $text-color;
    flex: 1;
  }
  input:disabled,
  input::placeholder {
    color: $text-color-disabled;
  }
}
