@import 'styles/constants.scss';

.custom-toast {
  position: absolute;
  padding: $size-md;
  border-radius: $border-radius-sm;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  right: $size-xl;
  top: $size-xl;
  opacity: 0;
  transition: linear all $transition-normal;
  pointer-events: none;
}
.custom-toast.show {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}
